<h1>Ping-Pong Players</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Hand</th>
    <th>Grade</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.email %></td>
      <td><%= player.hand %></td>
      <td><%= player.grade %></td>
    </tr>
    <% end %>
</table>
